@media screen and (min-width: 550px) and (max-width: 768px) {
    #body-bottom {
        border-bottom-left-radius: 200px;
        border-bottom-right-radius: 200px;
        top: 90%;
        height: 60px;
    }
}

@media (max-width: 549px) {
    #body-bottom {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        top: 91%;
        height: 54px;
    }
}

/*#left-pupil,
#right-pupil {
    background-color: #000;
    border-radius: 45%;
    height: 8px;
    width: 20%;
    z-index: 13;
}

#left-round,
#right-round {
    position: absolute;
    background-color: #FFCC99;
    border-left: 1px solid #B5651D;
    border-bottom: 1px solid #B5651D;
    left: 35%; or right: 35%;
    top: 60%;
    width: 15%;
    height: 25px;
    border-radius: 30px;
    z-index: 12;
}*/